<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/book">Create</a>
        <a href="/search">Search Advance</a>
    </nav>
    <section>
        <h1>
            {{book.getTitle()}}
        </h1>
        <small>
            {{book.getAuthor()}}
        </small>
        <small>
            {{book.getPublisher().getId()}}
        </small>
        <small>
            {{book.getPrice()}}
        </small>
        <div>
            <a href="/edit/{{book.getId()}}">Edit</a>
        <a href="/book/delete/{{book.getId()}}">Delete</a>
        </div>
    </section>
</body>
</html>