<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/book">Create</a>
        <a href="/search">Search Advance</a>
    </nav>
    <section>
        <h1>
            {{book.getTitle()}}
        </h1>
        <small>
            {{book.getAuthor()}}
        </small>
        <small>
            {{book.getPublisher().getName()}}
        </small>
        <small>
            {{book.getPrice()}}
        </small>
        <div>
            <a href="/book">Edit</a>
        <a href="/book/delete/{{book.getId()}}">Delete</a>
        </div>
    </section>
</body>
</html>