<html>
    <head>
        <title>Demo_CRUD_Book</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="wrapper">
            <!--<div class="banner"></div> -->
            <div class="menu">
                <ul>
                    <li><a href="#">Trang Chủ</a></li>
                    <li><a href="#">Quản Lý Sách</a></li>
                    <li><a href="#">Quản Lý Nhà Xuất Bản</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="left">
                    <form action="" method="post" enetype="multipart/form-data">
                        <table width="100%" border="1">
                        <tr>
                            <td colspan="2"><div align="center"><strong>Thêm sách</strong></div></td>
                        </tr>
                        <tr>
                            <td>Tiêu đề</td>
                            <td><input type="textarea" name="noidung"></td>
                        </tr>
                            <tr>
                            <td>Tác giả</td>
                            <td><input type="textarea" name="noidung"></td>
                        </tr>
                            <tr>
                            <td>Nhà XB</td>
                            <td>
                                <select name="id_khoa">
                                       <option  value="">aaa</option>
                                       <option  value="">aaa</option>
                                       <option  value="">aaa</option>
                                  </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Giá</td>
                            <td><input type="textarea" name="noidung"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            <div align="center">
                                <input type="submit" name="them" id="them" value=" Thêm ">
                            </div>
                            </td>
                        </tr>
                        </table>
                        </form>
                </div>
                <div class="right">
                    <table width="100%" border="1">
                        <tr>
                        <td><strong>STT</strong></td>
                        <td><strong>Tiêu đề</strong></td>
                        <td><strong>Tác giả</strong></td>
                        <td><strong>Nhà xuất bản</strong></td>
                        <td><strong>Giá</strong></td>
                        <td colspan="2"><strong>Quản trị</strong></td>
                        </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="#">Sửa</a></td>
                        <td><a href="#">Xóa</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
            <div class="footer">Đặng Đình Huyên</div>
        </div>
    </body>
</html>