<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="./script.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <header>
                    <h1>Books <span class="badge badge-pill badge-secondary">{% block Home %}Home{% endblock %}</span></h1>
                </header>
                <nav class="nav justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/book">Create</a>
                    <a class="nav-link" href="/search">Search Advance</a>
                </nav>
                {% block content %}
                <div class="input-group mb-3">
                    <input  name="keyword" id="keyword" type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="search-basic">Search</button>
                    </div>
                </div>
                <section>
                        <ul id="viewBooks" class="list-group list-group-flush">
                            {% for book in books %}
                            <li class="list-group-item">
                                <a href="/book/{{book.getId()}}">{{book.getTitle()}}-{{book.getPublisher().getName()}} </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </section>                
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

<script id="bookTemplate" type="text/html">
    <li class="list-group-item"><a href="/book/:id:">:title: - :author:</a></li>
</script>