*{
	padding:0;
	margin:0;
}
body{
	background-color:#96DAF1;
}
.wrapper{
	width:1000px;
	height:auto;
	margin:auto;
}
.banner{
	width:1000px;
	height:175px;
	background-image:url(../banner_qt.png);
}
.menu{
	width:999px;
	height:35px;
	background-color:#0082BC;
	border-top:solid 1px #fff;
	color:#fff;
	border-right:solid 1px #fff;
}
.menu ul li a{
	text-decoration:none;
	margin:0px 15px 0px 15px;
	color:#fff;
}
.menu ul li{
	list-style:none;
	float: left;
	line-height:35px;
	border-left:solid 1px #fff;
}
.content{
	width:1000px;
	height:580px;
	background-color:#fff;
}
.left{
	width:240px;
	height:500px;
	float:left;
	padding: 4px;
}
.right{
	border-left:solid 1px #0082BC;
	width: 740px;
	height:570px;
	overflow:scroll;
	overflow-x: hidden;
	float:right;
	margin: auto;
	padding: 5px;
}
.clear{
	clear:both;
}
.footer{
	width: 1000px;
	height: 35px;
	background-color:#0082BC;
	color:#fff;
	text-align:center;
	line-height:35px;
}
table tr td{
	text-align:center;
	border:1px solid black;
	padding: 2px 5px 2px 5px;
}
table{
	border-collapse: collapse;
}
input{
	margin:5px;	
}